.container {
    position: relative;
    height: auto;
    width: auto;
    border: 3px solid black;
    margin: 100px;
    padding: 30px;
    background-color: yellow; 
    
  }

  .flexbox {
    display: flex; /* or inline-flex */
    margin: 20px;
    border: 1px solid black;
    background-color: tomato;
    padding: 10px;
    justify-content: center;
  }
  
  .a-item{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .list {
    height: 100px;
    display: flex;
    margin: 30px;
    padding: 30px;
    border: 1px solid black;
    background-color: green;
    justify-content: center;
    align-items: center;
  }
  
  .b-item {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .blist {
    height: 40px;
    margin: 30px;
    padding: 30px;
    border: 1px solid black;
    background-color: blue;
  }

.c-item {
  justify-content: center;
  align-items: center;
  height: 150px;
 
  margin: 30px;
  padding: 30px;
  border: 1px solid black;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnoTbcgmyN3Nsj3N0-tP6jlVyapwNTOw1G2g&usqp=CAU);}